
<CascadingAuthenticationState>

    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <p>
                        You are not Authorized.
                    </p>
                </NotAuthorized>
                <Authorizing>
                   Authorizing..
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p style="font-size:40px; margin:auto;" class="d-flex mx-auto" role="alert">NOT FOUND</p>
            </LayoutView>
        </NotFound>
    </Router>

</CascadingAuthenticationState>
